



<div class="form" style="padding-bottom: 15px;">
    <form class="form-validate form-horizontal" id="feedback_form" method="get" action="">
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Yayınlanma Tarihi(başlangıç) <span class="required">*</span></label>
            <div class="col-lg-8">
                <input class="form-control" id="cname" name="fullname" minlength="5" type="text" required />
            </div>
        </div>
        <div class="form-group ">
            <label for="cemail" class="control-label col-lg-2">Yayınlanma Tarihi(bitis) <span class="required">*</span></label>
            <div class="col-lg-8">
                <input class="form-control " id="cemail" type="email" name="email" required />
            </div>
        </div>
        <div class="form-group ">
            <label for="curl" class="control-label col-lg-2">Kategoriler</label>
            <div class="col-lg-8">
                <input class="form-control " id="curl" type="url" name="url" />
            </div>
        </div>
        <div class="form-group ">
            <label for="cname" class="control-label col-lg-2">Yayınevleri <span class="required">*</span></label>
            <div class="col-lg-8">
                <input class="form-control" id="subject" name="subject" minlength="5" type="text" required />
            </div>
        </div>
        <div class="form-group ">
            <label for="ccomment" class="control-label col-lg-2">Yazarlar</label>
            <div class="col-lg-8">
                <input class="form-control" id="subject" name="subject" minlength="5" type="text" required />
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-8">
                <button class="btn btn-warning" type="submit" style="color: rgb(66, 64, 64);"><b>Filtrele</b></button>
                
            </div>
        </div>
    </form>
</div>
