
@using Entities.DataModels

@model IEnumerable<Publisher>


<div style="clear:both; margin-top: 50px;" class="container">
    <div class="row list-count">
        @if (Model.Any())
        {
            <span id="searchResultCount">
                <b style="font-size: 17px;">@Model.Count()</b>
                Yayınevi listelenmektedir
            </span>
        }
        else
        {
            <span id="searchResultCount">
                Yayınevi Bulunamadı.
            </span>
        }
    </div>
</div>
<div class="col-lg-offset-1 col-lg-11" style="margin-top:35px;">
    <ul id="horizontal-list">
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Action("Publisher","Book", new { id = item.Id })">@item.Name</a>
            </li>
        }

    </ul>
</div>